# Ignore personal settings
amiibrOS-overlay/etc/wpa_supplicant.conf
amiibrOS-overlay/usr/bin/amiibrOS/app/*
!amiibrOS-overlay/usr/bin/amiibrOS/app/README.md

# Ignore subproject includes
subproj/include/

# Ignore amiibrOS build
subproj/amiibrOS/build/

# Ignore some (not all of) amiibrOS testing resources/executables
subproj/amiibrOS/test/resources/
subproj/amiibrOS/test/amiibrOS_test

# Ignore slideshow build
subproj/slideshow/build/
